# Adding two new features

In [1]:
using PyPlot, Compat, DataFrames

In [9]:
dataDirectory = "Student_Team_Competition_Syngenta_Data/";
file = "EXPERIMENT DATA CSV (Cleaned).csv";
readData = dataDirectory * file;
df = readtable(readData);
varietiesonce = readtable(dataDirectory*"VarietiesOnce.csv");

In [12]:
@show size(varietiesonce)

size(varietiesonce) = (14986,1)

(14986,1)

In [ ]:
# Data cleaning

# add new featuers: RM_GRP and YIELD_GRP
df[13] = floor(df[:RM])
df[14] = 10*floor(df[:YIELD]/10)
df[15] = 0
for (i in 1:size(df)[1])
    for (j in 1:size(varietiesonce)[1])
        if (df[i, :VARIETY] == varietiesonce[j,1]) # Variety only tested in one year
        df[i,15] = 1
        else
        df[i,15] = 0 
        end
    end
end


    

tail(df)

In [4]:

head(df)

6×15 DataFrames.DataFrame
│ Row │ YEAR │ EXPERIMENT   │ LOCATION │ VARIETY   │ FAMILY     │ CHECK │ RM  │
├─────┼──────┼──────────────┼──────────┼───────────┼────────────┼───────┼─────┤
│ 1   │ 2009 │ "09YT000052" │ "3210"   │ "V000016" │ "FAM05619" │ true  │ 3.9 │
│ 2   │ 2009 │ "09YT000052" │ "3210"   │ "V000016" │ "FAM05619" │ true  │ 3.9 │
│ 3   │ 2009 │ "09YT000052" │ "3210"   │ "V000018" │ "FAM05619" │ true  │ 3.7 │
│ 4   │ 2009 │ "09YT000052" │ "3210"   │ "V000018" │ "FAM05619" │ true  │ 3.7 │
│ 5   │ 2009 │ "09YT000052" │ "3210"   │ "V000039" │ "FAM05625" │ true  │ 3.4 │
│ 6   │ 2009 │ "09YT000052" │ "3210"   │ "V000039" │ "FAM05625" │ true  │ 3.4 │

│ Row │ REPNO │ YIELD   │ CLASS_OF │ GRAD │ BAGSOLD │ x13 │ x14  │ x15 │
├─────┼───────┼─────────┼──────────┼──────┼─────────┼─────┼──────┼─────┤
│ 1   │ 1     │ 50.3023 │ -1       │ -1   │ -1      │ 3.0 │ 50.0 │ 1   │
│ 2   │ 2     │ 48.3313 │ -1       │ -1   │ -1      │ 3.0 │ 40.0 │ 1   │
│ 3   │ 1     │ 53.1032 │ -1       │ -1   │ -1      │ 3.0 │ 50.0 │ 1   │
│ 4   │ 2     │ 53.1032 │ -1       │ -1   │ -1      │ 3.0 │ 50.0 │ 1   │
│ 5   │ 1     │ 58.0811 │ -1       │ -1   │ -1      │ 3.0 │ 50.0 │ 1   │
│ 6   │ 2     │ 58.2893 │ -1       │ -1   │ -1      │ 3.0 │ 50.0 │ 1   │

In [5]:


df[16:18] = copy(df[[:CLASS_OF, :GRAD, :BAGSOLD]])
delete!(df, [:CLASS_OF, :GRAD, :BAGSOLD])

names!(df, [:YEAR, :EXPERIMENT, :LOCATION, :VARIETY, :FAMILY, :CHECK, :RM, :REPNO, :YIELD, :RM_GRP, :YIELD_GRP, :CLASS_ABSENT, :CLASS_OF, :GRAD, :BAGSOLD]);

head(df)

6×15 DataFrames.DataFrame
│ Row │ YEAR │ EXPERIMENT   │ LOCATION │ VARIETY   │ FAMILY     │ CHECK │ RM  │
├─────┼──────┼──────────────┼──────────┼───────────┼────────────┼───────┼─────┤
│ 1   │ 2009 │ "09YT000052" │ "3210"   │ "V000016" │ "FAM05619" │ true  │ 3.9 │
│ 2   │ 2009 │ "09YT000052" │ "3210"   │ "V000016" │ "FAM05619" │ true  │ 3.9 │
│ 3   │ 2009 │ "09YT000052" │ "3210"   │ "V000018" │ "FAM05619" │ true  │ 3.7 │
│ 4   │ 2009 │ "09YT000052" │ "3210"   │ "V000018" │ "FAM05619" │ true  │ 3.7 │
│ 5   │ 2009 │ "09YT000052" │ "3210"   │ "V000039" │ "FAM05625" │ true  │ 3.4 │
│ 6   │ 2009 │ "09YT000052" │ "3210"   │ "V000039" │ "FAM05625" │ true  │ 3.4 │

│ Row │ REPNO │ YIELD   │ RM_GRP │ YIELD_GRP │ CLASS_ABSENT │ CLASS_OF │ GRAD │
├─────┼───────┼─────────┼────────┼───────────┼──────────────┼──────────┼──────┤
│ 1   │ 1     │ 50.3023 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │
│ 2   │ 2     │ 48.3313 │ 3.0    │ 40.0      │ 1            │ -1       │ -1   │
│ 3   │ 1     │ 53.1032 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │
│ 4   │ 2     │ 53.1032 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │
│ 5   │ 1     │ 58.0811 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │
│ 6   │ 2     │ 58.2893 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │

│ Row │ BAGSOLD │
├─────┼─────────┤
│ 1   │ -1      │
│ 2   │ -1      │
│ 3   │ -1      │
│ 4   │ -1      │
│ 5   │ -1      │
│ 6   │ -1      │

# Grouping avg yield by family and by year

In [8]:
# Split into years 2009 - 2014, excluding class of 2014

yearlist = 2009:2014
dfList = [];
for i in yearlist
    k = copy(df);
    k = k[k[:CLASS_OF].!= 2014,:];
    k = k[k[:YEAR].== i,:];
    push!(dfList,k);
end

In [9]:
# shows the no of data records in each year, excluding class of 2014
for i in 1:6
    @show size(dfList[i])
end

size(dfList[i]) = (11207,15)
size(dfList[i]) = (20240,15)
size(dfList[i]) = (103906,15)
size(dfList[i]) = (82826,15)
size(dfList[i]) = (22029,15)
size(dfList[i]) = (13455,15)

In [10]:
uniquefamilies = []
for year in yearlist 
    groupbyfamily = by(dfList[year-2008], :FAMILY,nrow)
    names!(groupbyfamily, [:FAMILY, :NROWS])
    push!(uniquefamilies,groupbyfamily)
end

for i in 1:6
    @show size(uniquefamilies[i])
end;

size(uniquefamilies[i]) = (244,2)
size(uniquefamilies[i]) = (246,2)
size(uniquefamilies[i]) = (829,2)
size(uniquefamilies[i]) = (871,2)
size(uniquefamilies[i]) = (236,2)
size(uniquefamilies[i]) = (155,2)

In [11]:
function avgYieldPerFamily(i)
    avg_yields =[]
    for k in 1:size(uniquefamilies[i])[1]
        yields = []
        for j in 1:size(dfList[i])[1]

            if (dfList[i][:FAMILY][j] == uniquefamilies[i][1][k] && dfList[i][:YEAR][j] == i+2008)
                push!(yields,dfList[i][:YIELD][j])
            end
           
        end
    push!(avg_yields, mean(yields)) 
    end
   return avg_yields
end ;

In [12]:
uniquefamilies[1][3] = avgYieldPerFamily(1)
tail(uniquefamilies[1])

6×3 DataFrames.DataFrame
│ Row │ FAMILY     │ NROWS │ x3      │
├─────┼────────────┼───────┼─────────┤
│ 1   │ "FAM16708" │ 4     │ 47.7484 │
│ 2   │ "FAM16802" │ 4     │ 49.6172 │
│ 3   │ "FAM16806" │ 5     │ 57.0137 │
│ 4   │ "FAM16808" │ 6     │ 56.4276 │
│ 5   │ "FAM16817" │ 6     │ 65.381  │
│ 6   │ "FAM16850" │ 17    │ 58.1068 │

In [13]:
# group average yield by family
for i in 1:6
    uniquefamilies[i][3] = avgYieldPerFamily(i)
    names!(uniquefamilies[i], [:FAMILY, :NROWS, :AVGYIELD])
end

In [13]:
# sort families by avg yield (highest first)
for i in 1:6
    sort!(uniquefamilies[i],cols = order(:AVGYIELD), rev=true)
    #uniquefamilies[i][4] = cumsum(uniquefamilies[i][:NROWS])
  #  names!(uniquefamilies[i], [:FAMILY, :NROWS, :AVGYIELD, :CUM_NROWS])
end

In [14]:
head(uniquefamilies[1])

6×3 DataFrames.DataFrame
│ Row │ FAMILY     │ NROWS │ AVGYIELD │
├─────┼────────────┼───────┼──────────┤
│ 1   │ "FAM00445" │ 8     │ 61.3742  │
│ 2   │ "FAM00458" │ 44    │ 52.5355  │
│ 3   │ "FAM00459" │ 54    │ 56.9092  │
│ 4   │ "FAM00460" │ 89    │ 57.9899  │
│ 5   │ "FAM00461" │ 41    │ 56.476   │
│ 6   │ "FAM01019" │ 4     │ 71.0981  │

In [22]:
head(uniquefamilies[2])

6×3 DataFrames.DataFrame
│ Row │ FAMILY     │ NROWS │ AVGYIELD │
├─────┼────────────┼───────┼──────────┤
│ 1   │ "FAM00457" │ 87    │ 51.9364  │
│ 2   │ "FAM00460" │ 226   │ 56.6665  │
│ 3   │ "FAM00462" │ 4     │ 52.2051  │
│ 4   │ "FAM00505" │ 71    │ 58.933   │
│ 5   │ "FAM00506" │ 6     │ 45.6697  │
│ 6   │ "FAM00507" │ 59    │ 55.5394  │

In [28]:
# segment the families into 20 percent segments
nrowssegment = []
for i in 1:6
    numrows = size(uniquefamilies[i])[1]
    @show numrows
    twenties = zeros(5)
    for j in 1:5
        twenties[j] = convert(Int64,floor(j*numrows/5))
    end
    push!(nrowssegment, twenties)
end
@show nrowssegment

numrows = 244
numrows = 246
numrows = 829
numrows = 871
numrows = 236
numrows = 155
nrowssegment = Any[[48.0,97.0,146.0,195.0,244.0],[49.0,98.0,147.0,196.0,246.0],[165.0,331.0,497.0,663.0,829.0],[174.0,348.0,522.0,696.0,871.0],[47.0,94.0,141.0,188.0,236.0],[31.0,62.0,93.0,124.0,155.0]]

6-element Array{Any,1}:
 [48.0,97.0,146.0,195.0,244.0]
 [49.0,98.0,147.0,196.0,246.0]
 [165.0,331.0,497.0,663.0,829.0]
 [174.0,348.0,522.0,696.0,871.0]
 [47.0,94.0,141.0,188.0,236.0]
 [31.0,62.0,93.0,124.0,155.0]

In [29]:
# indicate which 20percent segment family belongs to
for i in 1:6
    uniquefamilies[i][4] = 0 # initialise segment column to 0
    for row in 1:size(uniquefamilies[i])[1] # for every row
        if (row <= nrowssegment[i][1])
            uniquefamilies[i][row,4] = 1
        elseif (row <= nrowssegment[i][2])
            uniquefamilies[i][row, 4] = 2

        elseif (row <= nrowssegment[i][3]) 
            uniquefamilies[i][row, 4] = 3
        elseif (row <= nrowssegment[i][4])
            uniquefamilies[i][row, 4] = 4

        elseif (row <= nrowssegment[i][5])
            uniquefamilies[i][row, 4] = 5

        end
    end
    names!(uniquefamilies[i], [:FAMILY, :NROWS, :AVGYIELD, :SEGMENT])
end
head(uniquefamilies[1])

6×4 DataFrames.DataFrame
│ Row │ FAMILY     │ NROWS │ AVGYIELD │ SEGMENT │
├─────┼────────────┼───────┼──────────┼─────────┤
│ 1   │ "FAM00445" │ 8     │ 61.3742  │ 1       │
│ 2   │ "FAM00458" │ 44    │ 52.5355  │ 1       │
│ 3   │ "FAM00459" │ 54    │ 56.9092  │ 1       │
│ 4   │ "FAM00460" │ 89    │ 57.9899  │ 1       │
│ 5   │ "FAM00461" │ 41    │ 56.476   │ 1       │
│ 6   │ "FAM01019" │ 4     │ 71.0981  │ 1       │

In [30]:

folder_string = "UniqueFamilies/"
extension = ".csv"
for i in 1:6
    writetable(folder_string*"uniquefamilies"*string(i)*extension,uniquefamilies[i])
end

In [18]:
@show numcols = size(df)[2] #15
head(df)

numcols = (size(df))[2] = 15

6×15 DataFrames.DataFrame
│ Row │ YEAR │ EXPERIMENT   │ LOCATION │ VARIETY   │ FAMILY     │ CHECK │ RM  │
├─────┼──────┼──────────────┼──────────┼───────────┼────────────┼───────┼─────┤
│ 1   │ 2009 │ "09YT000052" │ "3210"   │ "V000016" │ "FAM05619" │ true  │ 3.9 │
│ 2   │ 2009 │ "09YT000052" │ "3210"   │ "V000016" │ "FAM05619" │ true  │ 3.9 │
│ 3   │ 2009 │ "09YT000052" │ "3210"   │ "V000018" │ "FAM05619" │ true  │ 3.7 │
│ 4   │ 2009 │ "09YT000052" │ "3210"   │ "V000018" │ "FAM05619" │ true  │ 3.7 │
│ 5   │ 2009 │ "09YT000052" │ "3210"   │ "V000039" │ "FAM05625" │ true  │ 3.4 │
│ 6   │ 2009 │ "09YT000052" │ "3210"   │ "V000039" │ "FAM05625" │ true  │ 3.4 │

│ Row │ REPNO │ YIELD   │ RM_GRP │ YIELD_GRP │ CLASS_ABSENT │ CLASS_OF │ GRAD │
├─────┼───────┼─────────┼────────┼───────────┼──────────────┼──────────┼──────┤
│ 1   │ 1     │ 50.3023 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │
│ 2   │ 2     │ 48.3313 │ 3.0    │ 40.0      │ 1            │ -1       │ -1   │
│ 3   │ 1     │ 53.1032 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │
│ 4   │ 2     │ 53.1032 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │
│ 5   │ 1     │ 58.0811 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │
│ 6   │ 2     │ 58.2893 │ 3.0    │ 50.0      │ 1            │ -1       │ -1   │

│ Row │ BAGSOLD │
├─────┼─────────┤
│ 1   │ -1      │
│ 2   │ -1      │
│ 3   │ -1      │
│ 4   │ -1      │
│ 5   │ -1      │
│ 6   │ -1      │

In [19]:
# PREPARE for one-hot encoding to indicate the segment of the family's avg yield
for i in 1:size(nrowssegment[1])[1]
    df[numcols+i] = 0
end
numcols = size(df)[2]
df[numcols+1:numcols+3] = copy(df[[:CLASS_OF, :GRAD, :BAGSOLD]])
delete!(df, [:CLASS_OF, :GRAD, :BAGSOLD])
names!(df, [:YEAR, :EXPERIMENT, :LOCATION, :VARIETY, :FAMILY, :CHECK, :RM, :REPNO, :YIELD, :RM_GRP, :YIELD_GRP, :CLASS_ABSENT, :FAM_SEGMENT1, :FAM_SEGMENT2, :FAM_SEGMENT3, :FAM_SEGMENT4, :FAM_SEGMENT5, :CLASS_OF, :GRAD, :BAGSOLD])
head(df)

6×20 DataFrames.DataFrame
│ Row │ YEAR │ EXPERIMENT   │ LOCATION │ VARIETY   │ FAMILY     │ CHECK │ RM  │
├─────┼──────┼──────────────┼──────────┼───────────┼────────────┼───────┼─────┤
│ 1   │ 2009 │ "09YT000052" │ "3210"   │ "V000016" │ "FAM05619" │ true  │ 3.9 │
│ 2   │ 2009 │ "09YT000052" │ "3210"   │ "V000016" │ "FAM05619" │ true  │ 3.9 │
│ 3   │ 2009 │ "09YT000052" │ "3210"   │ "V000018" │ "FAM05619" │ true  │ 3.7 │
│ 4   │ 2009 │ "09YT000052" │ "3210"   │ "V000018" │ "FAM05619" │ true  │ 3.7 │
│ 5   │ 2009 │ "09YT000052" │ "3210"   │ "V000039" │ "FAM05625" │ true  │ 3.4 │
│ 6   │ 2009 │ "09YT000052" │ "3210"   │ "V000039" │ "FAM05625" │ true  │ 3.4 │

│ Row │ REPNO │ YIELD   │ RM_GRP │ YIELD_GRP │ CLASS_ABSENT │ FAM_SEGMENT1 │
├─────┼───────┼─────────┼────────┼───────────┼──────────────┼──────────────┤
│ 1   │ 1     │ 50.3023 │ 3.0    │ 50.0      │ 1            │ 0            │
│ 2   │ 2     │ 48.3313 │ 3.0    │ 40.0      │ 1            │ 0            │
│ 3   │ 1     │ 53.1032 │ 3.0    │ 50.0      │ 1            │ 0            │
│ 4   │ 2     │ 53.1032 │ 3.0    │ 50.0      │ 1            │ 0            │
│ 5   │ 1     │ 58.0811 │ 3.0    │ 50.0      │ 1            │ 0            │
│ 6   │ 2     │ 58.2893 │ 3.0    │ 50.0      │ 1            │ 0            │

│ Row │ FAM_SEGMENT2 │ FAM_SEGMENT3 │ FAM_SEGMENT4 │ FAM_SEGMENT5 │ CLASS_OF │
├─────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────┤
│ 1   │ 0            │ 0            │ 0            │ 0            │ -1       │
│ 2   │ 0            │ 0            │ 0            │ 0            │ -1       │
│ 3   │ 0            │ 0            │ 0            │ 0            │ -1       │
│ 4   │ 0            │ 0            │ 0            │ 0            │ -1       │
│ 5   │ 0            │ 0            │ 0            │ 0            │ -1       │
│ 6   │ 0            │ 0            │ 0            │ 0            │ -1       │

│ Row │ GRAD │ BAGSOLD │
├─────┼──────┼─────────┤
│ 1   │ -1   │ -1      │
│ 2   │ -1   │ -1      │
│ 3   │ -1   │ -1      │
│ 4   │ -1   │ -1      │
│ 5   │ -1   │ -1      │
│ 6   │ -1   │ -1      │

In [20]:
function findSegment(i, family)
for row in 1:size(uniquefamilies[i])[1]
    if (uniquefamilies[i][row,:FAMILY] == family)
        return uniquefamilies[i][row, :SEGMENT]    
    end
end
    return -1 
end

findSegment (generic function with 1 method)

In [21]:
# DO one-hot encoding for family segment
for row in 1:size(df)[1]
    for year in 1:6
        segment = findSegment(year, df[row,:FAMILY])
        if (df[row, :YEAR] == year+2008 && segment!=-1)
            if (segment == 1)
                df[row, :FAM_SEGMENT1] = 1
            elseif (segment ==2)
                df[row, :FAM_SEGMENT2] = 1
            elseif (segment ==3)
                df[row, :FAM_SEGMENT3] = 1
            elseif (segment==4)
                df[row, :FAM_SEGMENT4] = 1
            else
                df[row, :FAM_SEGMENT5] = 1
            end

        end
    end
end

# Split data into training, test and prediction set (Class of 2014)

In [28]:
# Split into years 2009 - 2014, excluding class of 2014
# do this again as more columns have been added to df

yearlist = 2009:2014
dfList = [];
for i in yearlist
    k = copy(df);
    k = k[k[:CLASS_OF].!= 2014,:];
    k = k[k[:YEAR].== i,:];
    push!(dfList,k);
end


# training[1] = 2009; test 2010
# training[2] = 2009,2010; test 2011
# training[3] = 2009,2010, 2011; test 2012
# training[4] = 2009,2010,2011,2012; test 2013
# training[5] = 2009,2010,2011,2012,2013; test 2014


#test set
folder_string = "Split_Data4/"
extension = ".csv"
for i in yearlist
    writetable(folder_string*"test_"*string(i)*extension,dfList[i-2008])
end

In [29]:
# sizes of each test set
sizes1 = [];
for sets in dfList
    push!(sizes1,size(sets));
end
sizes1

6-element Array{Any,1}:
 (11207,20)
 (20240,20)
 (103906,20)
 (82826,20)
 (22029,20)
 (13455,20)

In [30]:
#prediction set
predictionset = copy(df);
predictionset = predictionset[predictionset[:CLASS_OF].== 2014,:];
writetable(folder_string*"prediction_set.csv",predictionset);

#training set
training5 = copy(df);
training5 = training5[training5[:CLASS_OF].!=2014,:];
training5 = training5[training5[:YEAR].!=2014,:];
training4 = copy(training5);
training4 = training4[training4[:YEAR].!=2013,:];
training3 = copy(training4);
training3 = training3[training3[:YEAR].!=2012,:];
training2 = copy(training3);
training2 = training2[training2[:YEAR].!=2011,:];
training1 = copy(dfList[1]);
training = [training1,training2,training3,training4,training5];
for i in 1:length(training)
    writetable(folder_string*"training"* "[" * string(i)  *"]"*extension,training[i]);
end

# sizes of training sets
sizes = [];
for sets in training
    push!(sizes,size(sets));
end
sizes